<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.lolii.screencapture">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity
                android:name="cn.lolii.screencapture.RequestCapturePermissionActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@style/FullscreenTheme"
                android:excludeFromRecents="true"/>
    </application>

</manifest>
