<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liabit.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TestMapLocationActivity"
            android:label="MapLocation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tablayouttest.TestTabLayoutActivity"
            android:label="TestTabLayout" />
        <activity
            android:name=".tablayouttest.TestTabLayoutWithViewPagerActivity"
            android:label="TabLayoutPager" />
        <activity
            android:name=".tablayouttest.TestTabLayoutFixModeWithViewPagerActivity"
            android:label="TabLayoutFixModePager" />
        <activity
            android:name=".tablayouttest.TestTabLayoutWithViewPager2Activity"
            android:label="TabLayoutPager2" />
        <activity
            android:name=".tablayouttest.TestTabLayoutFixModeWithViewPager2Activity"
            android:label="TabLayoutFixModePager2" />
        <activity
            android:name=".tagviewtest.TestTagViewActivity"
            android:label="TagView" />
        <activity
            android:name=".decorationtest.ShowDecorationActivity"
            android:label="Decoration" />
        <activity
            android:name=".decorationtest.TestRecyclerViewDecorationActivity"
            android:label="Decoration" />
        <activity
            android:name=".TestPopupActivity"
            android:label="PopupMenu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TestAddSubViewActivity"
            android:label="AddSubView" />
        <activity
            android:name=".filtertest.TestFilterActivity"
            android:label="Filter"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".TestPickerActivity"
            android:label="Picker" />
        <activity
            android:name=".TestShimmerActivity"
            android:label="Shimmer" />
        <activity
            android:name=".TestStateButtonActivity"
            android:label="StateButton" />
        <activity
            android:name=".gesturetest.TestDragActivity"
            android:label="TestDrag" />
        <activity
            android:name=".gesturetest.TestSwipeActivity"
            android:label="TestSwipe" />
        <activity
            android:name=".viewbinding.TestViewBinding"
            android:label="ViewBinding" />
        <activity
            android:name=".TestFragmentVisibleActivity"
            android:label="Fragment可见性" />
    </application>

</manifest>