<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liabit.integratepicker">

    <application>

        <activity
            android:name="com.liabit.imageviewer.PhotoViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SwipeBack" />

    </application>

</manifest>